body {
  background-color: #f2f0f0;
}

#todo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 10px 0;
  justify-content: start;
}

.title {
  font-size: 3rem;
  margin-top: 50px;
}
